<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#f5f5f7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>급식 관리 시스템</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
</head>

<body>
    <div class="body-frame">
        <div class="block">
            <h1 class="back-btn b3" onclick="javascript:location.href = '/';">←</h1>
            <img src="{{url_for('static', filename='img/dshslogo.png')}}" width="70px" style="margin-top: 20px;">
            <h1 class="b8 f6" style="margin-top: 20px;">약관을 읽고<br>동의해주세요.</h1>
            <p style="color: grey; margin-top: 10px;">대전대신고등학교 급식 관리 시스템에 회원가입을<br>진행하기 위해선 아래 약관에 동의하여아합니다.</p>
        </div>
            <div class="parell-scroll">
                <div class="grid">

                    <div class="card">
                        <h1 style="color: var(--blue);">빠른 인증</h1>
                        <p style="width: 100px; margin-top: 10px;">QR코드를 통해 빠르게 급식 신청<br>여부를 인증할 수 있습니다.</p>
                    </div>
                    <div class="card">
                        <h1 style="color: rgb(217, 233, 0);">강력한 보안</h1>
                        <p style="width: 100px; margin-top: 10px;">강력한 보안으로 다른 사람이<br>인증을 가로챌 수 없습니다.</p>
                    </div>
                </div>

            </div>
        <div class="block" style="margin-top: 20px; margin-bottom: 20px;">
            <form action="/register" method="POST">
                <input type="checkbox" name="1">
                <label>개인정보 이용 동의</label>
                <br>
                <input type="checkbox" name="2">
                <label>개인정보 제3자 제공 동의</label>
                <br><br>
                <p class="errcode">{{errcode}}</p>

                <button class="f2 b7">동의하고 넘어가기</button>
            </form>

        </div>
    </div>
</body>
<script src="{{url_for('static', filename='js/load.js')}}"></script>

</html>